<header>
		<nav class="header-background-color header-text-color large-padding">
			<ul class="no-list row center-xs middle-xs">
				<li class="col-md">
					<h1 class="no-margin">Mi Blog</h1>
				</li>
				<li class="col-md">
					<%= link_to "Inicio", root_path %>
				</li>
				<li class="col-md">
					Android
				</li>
				<li class="col-md">
					C/C++
				</li>
				<li class="col-md">
					Inteligencia Artificial
				</li>
				<li class="col-md">
					Raspberry
				</li>
			</ul>
		</nav>
	</header>